rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas para la colección de usuarios
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Reglas para la colección de cursos
    match /cursos/{courseId} {
      allow read: if request.auth != null && 
        (request.auth.token.role == 'teacher' || request.auth.token.role == 'student');
      allow write: if request.auth != null && request.auth.token.role == 'teacher';
    }

    // Reglas para la colección de tareas
    match /tareas/{taskId} {
      allow read: if request.auth != null && 
        (request.auth.token.role == 'teacher' || request.auth.token.role == 'student');
      allow write: if request.auth != null && request.auth.token.role == 'teacher';
    }

    // Reglas para la colección de progreso
    match /progress/{progressId} {
      allow read, write: if request.auth != null && request.auth.token.role == 'student';
    }

    // Reglas para la colección de entregas
    match /entregas/{submissionId} {
      allow read: if request.auth != null && 
        (request.auth.token.role == 'teacher' || resource.data.studentId == request.auth.uid);
      allow write: if request.auth != null && resource.data.studentId == request.auth.uid;
    }
  }
}
